@{
	ViewData["Title"] = "Submit Claim";
}
<h2>Submit Claim (prototype)</h2>
<form>
	<input type="month" class="form-control mb-2" />
	<input type="file" class="form-control mb-2" />
	<button type="button" class="btn btn-success">Submit (prototype)</button>
</form>
